
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<h2>Hesabınız başarıyla oluşturuldu!!</h2>

<div class="card-footer text-center py-3">
    <div class="small"><a href="@Url.Action("Login","Account")">Login Sayfasına Geri Dönün!</a></div>
</div>
        
